doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    - var getReadebleDateTime = function(date) {
    -   readebleDate = date.getDate() + '.' + date.getMonth()+1 + '.' + date.getFullYear() +' '+ ('00' + date.getHours()).slice(-2) +':'+ ('00' + date.getMinutes()).slice(-2)
    -   return readebleDate;
    - }
    - var getReadebleDate = function(date) {
    -   readebleDate = date.getDate() + '.' + date.getMonth()+1 + '.' + date.getFullYear()
    -   return readebleDate;
    - }
    .close-layout
    ul.nav.nav-pills.main-nav
      li(role="presentation")
        a(href="/") Домашняя/Отметиться
      li(role="presentation")
        a(href="/locations") Места
      li(role="presentation")
        a(href="/orders") Заказы
      li(role="presentation")
        a(href="/users") Пользователи
      //- li
      //-   a.location-name(href="/locations") location-name
    .container
      .col-md-3.col-md-offset-9.panel.panel-default
        | Место: 
        a.location-name(href="/locations")
    .lustran-page
      nav.lustran-nav
        a.lustran-nav-item(href='/addorder')
          i.fa.fa-plus-circle(aria-hidden='true')
          | Добавить заказ
        a.lustran-nav-item(href='/orders')
          i.fa.fa-list-alt(aria-hidden='true')
          | Заказы и товары
        a.lustran-nav-item(href='/')
          i.fa.fa-user-plus(aria-hidden='true')
          | Отметиться
      block content
    script(type='text/javascript', src='javascripts/jquery-3.1.1.min.js')
    script(type='text/javascript', src='javascripts/jquery.filedownload.js')
    //- script(type='text/javascript', src='javascripts/jquery-barcode.min.js')
    script(type='text/javascript', src='vendor/bootstrap/assets/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='javascripts/inputmask.js')
    script(type='text/javascript', src='javascripts/jquery.inputmask.js')
    script(type='text/javascript', src='javascripts/main.js')
    script(type='text/javascript', src='javascripts/users.js')
    script(type='text/javascript', src='javascripts/locations.js')
    script(type='text/javascript', src='javascripts/home.js')
    script(type='text/javascript', src='javascripts/addorderclient.js')
    script(type='text/javascript', src='javascripts/login.js')
