extends layout

block content
  main.lustran-main
    h1= title
    form.login-form
      .form-group
        label(for="pass")= "Введите пароль"
        input.form-control(type="password",required, id="pass", placeholder="Введите пароль", autofocus)
      .form-group
        input.form-control(type="submit", value="Войти")
