body {
  background-color: #fff;
  text-align: center;
}
.printorder-wrap {
  display: inline-block;;
  width: 80%;
  margin-top: 50px;
}

.table {
  font-size: 12px;
}

.small{
  font-size: 12px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
